.DS_Store

/DerivedData
/build

/old-bash-version/game-wrapper/dist
/old-bash-version/game-wrapper/build
/old-bash-version/second-chance-app/dist
/old-bash-version/second-chance-app/build
/installers
/built-apps
/tmp

/test-output
/test-results